{
    "openapi": "3.0.3",
    "info": {
        "title": "ILG WMS Schema documentation.",
        "description": "ILG WMS API V2.0 - Provides the capability to integrate with ILG's warehouse management system.\nThe API accepts the Request in JSON format and if the request is validated the API responds back with a correlation id.\n\nAuthentication is achieved using an API key which will need to be requested from [ILG Support](mailto:itsupport@ilguk.com)\n\nSupporting Documentation links:\n\n[Mapping Template](https://github.com/Jitterbit-EMEA/ilg-documentation/blob/master/supporting_docs/)\n\n[Available Interfaces](https://github.com/Jitterbit-EMEA/ilg-documentation/tree/master/supporting_docs/)",
        "termsOfService": "https://www.international-logistics-group.com/",
        "contact": {
            "name": "International Logistics Group",
            "url": "https://www.international-logistics-group.com/"
        },
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://ilg372042.jitterbit.eu/apis-dev/2"
        },
        {
            "url": "https://ilg372042.jitterbit.eu/apis-uat/2"
        }
    ],
    "tags": [
        {
            "name": "API",
            "description": "ILG WMS API V2.0 Provides the capability to integrate with ILG's warehouse management system.",
            "externalDocs": {
                "description": "Find out more",
                "url": ""
            }
        },
        {
            "name": "JSON Schema reference",
            "externalDocs": {
                "description": "Download examples",
                "url": "https://github.com/Jitterbit-EMEA/ilg-documentation/tree/master/json_examples"
            },
            "description": "ILG's common data model schemas for mapping purposes across all interface types"
        },
        {
            "name": "CSV Schema reference",
            "externalDocs": {
                "description": "Download examples",
                "url": "https://github.com/Jitterbit-EMEA/ilg-documentation/tree/master/csv_examples"
            },
            "description": "ILG's common data model schemas for mapping purposes across all interface types"
        }
    ],
    "paths": {
        "/json-examples": {
            "options": {
                "tags": [
                    "JSON Schema reference"
                ],
                "summary": "json schema reference and examples",
                "operationId": "json-examples",
                "requestBody": {
                    "description": "ILG json examples for schema reference to field defenitions please see json-examples",
                    "content": {
                        "goodsOut-req": {
                            "schema": {
                                "$ref": "#/components/schemas/goodsOut-req"
                            }
                        },
                        "goodsOut-conf": {
                            "schema": {
                                "$ref": "#/components/schemas/goodsOut-conf"
                            }
                        },
                        "goodsIn-req": {
                            "schema": {
                                "$ref": "#/components/schemas/goodsIn-req"
                            }
                        },
                        "goodsIn-conf": {
                            "schema": {
                                "$ref": "#/components/schemas/goodsIn-conf"
                            }
                        },
                        "masterData-req": {
                            "schema": {
                                "$ref": "#/components/schemas/masterData-req"
                            }
                        },
                        "stockMovement": {
                            "schema": {
                                "$ref": "#/components/schemas/stockMovement"
                            }
                        },
                        "return-req": {
                            "schema": {
                                "$ref": "#/components/schemas/return-req"
                            }
                        },
                        "return-conf": {
                            "schema": {
                                "$ref": "#/components/schemas/return-conf"
                            }
                        },
                        "workOrder-req": {
                            "schema": {
                                "$ref": "#/components/schemas/workOrder-req"
                            }
                        },
                        "workOrder-conf": {
                            "schema": {
                                "$ref": "#/components/schemas/workOrder-conf"
                            }
                        }
                    }
                }
            }
        },
        "/csv-examples": {
            "options": {
                "tags": [
                    "CSV Schema reference"
                ],
                "summary": "csv schema examples",
                "operationId": "csv-examples",
                "requestBody": {
                    "description": "ILG csv examples for schema reference to field defenitions pleae see json-examples",
                    "content": {
                        "goodsOut-req": {
                            "schema": {
                                "$ref": "#/components/schemas/goodsOut-req-csv"
                            }
                        },
                        "goodsOut-conf": {
                            "schema": {
                                "$ref": "#/components/schemas/goodsOut-conf-csv"
                            }
                        },
                        "goodsIn-req": {
                            "schema": {
                                "$ref": "#/components/schemas/goodsIn-req-csv"
                            }
                        },
                        "goodsIn-conf": {
                            "schema": {
                                "$ref": "#/components/schemas/goodsIn-conf-csv"
                            }
                        },
                        "masterData-req": {
                            "schema": {
                                "$ref": "#/components/schemas/masterData-req-csv"
                            }
                        },
                        "stockMovement": {
                            "schema": {
                                "$ref": "#/components/schemas/stockMovement-csv"
                            }
                        },
                        "return-req": {
                            "schema": {
                                "$ref": "#/components/schemas/return-req-csv"
                            }
                        },
                        "return-conf": {
                            "schema": {
                                "$ref": "#/components/schemas/return-conf-csv"
                            }
                        },
                        "workOrder-req": {
                            "schema": {
                                "$ref": "#/components/schemas/workOrder-req-csv"
                            }
                        },
                        "workOrder-conf": {
                            "schema": {
                                "$ref": "#/components/schemas/workOrder-conf-csv"
                            }
                        }
                    }
                }
            }
        },
        "/wms/goodsOut": {
            "post": {
                "tags": [
                    "API"
                ],
                "summary": "create new shipments from orders",
                "description": "Add a new shipment",
                "operationId": "addGoodsOut",
                "requestBody": {
                    "description": "Create a new shipment",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/goodsOut-req"
                            }
                        },
                        "text/csv": {
                            "schema": {
                                "$ref": "#/components/schemas/goodsOut-req-csv"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/success"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errors"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication error"
                    },
                    "405": {
                        "description": "Method not allowed"
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errors"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [
                            "write:api_key",
                            "read:api_key"
                        ]
                    }
                ]
            }
        },
        "/wms/goodsIn": {
            "post": {
                "tags": [
                    "API"
                ],
                "summary": "Create new receipts from ASN or PO records",
                "description": "Add a new receipt",
                "operationId": "addGoodsIn",
                "requestBody": {
                    "description": "Create a new receipt",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/goodsIn-req"
                            }
                        },
                        "text/csv": {
                            "schema": {
                                "$ref": "#/components/schemas/goodsIn-req-csv"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "202": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/success"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid input",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errors"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication error"
                    },
                    "405": {
                        "description": "Method not allowed"
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errors"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [
                            "write:api_key",
                            "read:api_key"
                        ]
                    }
                ]
            }
        },
        "/wms/masterData": {
            "post": {
                "tags": [
                    "API"
                ],
                "summary": "Submit product information",
                "description": "Adds new products",
                "operationId": "addMasterData",
                "requestBody": {
                    "description": "Submits product information",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/masterData-req"
                            }
                        },
                        "text/csv": {
                            "schema": {
                                "$ref": "#/components/schemas/masterData-req-csv"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "202": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/success"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid input",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errors"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication error"
                    },
                    "405": {
                        "description": "Method not allowed"
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errors"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [
                            "write:api_key",
                            "read:api_key"
                        ]
                    }
                ]
            }
        },
        "/wms/returns": {
            "post": {
                "tags": [
                    "API"
                ],
                "summary": "Submit returns",
                "description": "Adds new returns",
                "operationId": "addReturns",
                "requestBody": {
                    "description": "Submits returns information",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/return-req"
                            }
                        },
                        "text/csv": {
                            "schema": {
                                "$ref": "#/components/schemas/return-req-csv"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "202": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/success"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid input",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errors"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication error"
                    },
                    "405": {
                        "description": "Method not allowed"
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errors"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [
                            "write:api_key",
                            "read:api_key"
                        ]
                    }
                ]
            }
        },
        "/wms/workorders": {
            "post": {
                "tags": [
                    "API"
                ],
                "summary": "Submit workorders",
                "description": "Adds new workorders",
                "operationId": "addWorkOrders",
                "requestBody": {
                    "description": "Submits workorders information",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/workOrder-req"
                            }
                        },
                        "text/csv": {
                            "schema": {
                                "$ref": "#/components/schemas/workOrder-req-csv"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "202": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/success"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid input",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errors"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication error"
                    },
                    "405": {
                        "description": "Method not allowed"
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errors"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [
                            "write:api_key",
                            "read:api_key"
                        ]
                    }
                ]
            }
        },
        "/wms/customer/{AccountID}/stock": {
            "get": {
                "tags": [
                    "API"
                ],
                "summary": "Finds stock by AccountID",
                "description": "returns stock records using wms accountID",
                "operationId": "getStockbyAccountID",
                "parameters": [
                    {
                        "name": "AccountID",
                        "in": "path",
                        "description": "ILGs AccountID",
                        "required": true,
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "default": "ILG"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/masterData-req"
                                    }
                                }
                            },
                            "text/csv": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/masterData-req-csv"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid AccountID value"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                },
                "security": [
                    {
                        "api_key": [
                            "write:api_key",
                            "read:api_key"
                        ]
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "goodsOut-req": {
                "type": "object",
                "properties": {
                    "oOrders": {
                        "items": {
                            "properties": {
                                "AccountID": {
                                    "description": "ILG Customer Account",
                                    "example": "CUST1",
                                    "maxLength": 15,
                                    "type": "string"
                                },
                                "Addresses": {
                                    "items": {
                                        "properties": {
                                            "Add1": {
                                                "description": "Address Line 1 Required (RM has a limit of 35, DPD limit of 30)",
                                                "example": "13 Hargreaves Ave",
                                                "maxLength": 50,
                                                "type": "string"
                                            },
                                            "Add2": {
                                                "description": "Address Line 2  Usually included but not required",
                                                "example": "BigTown",
                                                "maxLength": 50,
                                                "type": "string"
                                            },
                                            "Add3": {
                                                "description": "Address Line 3",
                                                "example": "Nr Waitrose",
                                                "maxLength": 50,
                                                "type": "string"
                                            },
                                            "AddType": {
                                                "description": "Address Type",
                                                "enum": [
                                                    "SHIP",
                                                    "SUPP",
                                                    "BILL"
                                                ],
                                                "example": "SHIP",
                                                "maxLength": 5,
                                                "type": "string"
                                            },
                                            "City": {
                                                "description": "City/Town",
                                                "example": "Crawley",
                                                "maxLength": 50,
                                                "type": "string"
                                            },
                                            "Country": {
                                                "description": "Country name in Full (Not required but usually included)",
                                                "example": "United Kingdom",
                                                "maxLength": 50,
                                                "type": "string"
                                            },
                                            "CountryCode": {
                                                "description": "2 character ISO County code (Required) e.g GB",
                                                "example": "GB",
                                                "maxLength": 2,
                                                "type": "string"
                                            },
                                            "Email": {
                                                "description": "Email Required if Address Type = SHIP",
                                                "example": "ME@mydomain.com",
                                                "maxLength": 50,
                                                "type": "string"
                                            },
                                            "Firstname": {
                                                "description": "First Name Required if Address Type = SHIP",
                                                "example": "Julio",
                                                "maxLength": 30,
                                                "type": "string"
                                            },
                                            "Lastname": {
                                                "description": "Last Name Required if Address Type = SHIP",
                                                "example": "Stavros",
                                                "maxLength": 30,
                                                "type": "string"
                                            },
                                            "Mobile": {
                                                "description": "Mobile Number",
                                                "example": "07323 323564",
                                                "maxLength": 20,
                                                "type": "string"
                                            },
                                            "Name": {
                                                "description": "Company or Fullname of recipient ",
                                                "example": "The Clothing Company",
                                                "maxLength": 50,
                                                "type": "string"
                                            },
                                            "Phone": {
                                                "description": "Primary Phone number (required for delivery)",
                                                "example": "0181 333 2233",
                                                "maxLength": 20,
                                                "type": "string"
                                            },
                                            "Postcode": {
                                                "description": "Postcode/Zip code",
                                                "example": "RH10 1XY",
                                                "maxLength": 20,
                                                "type": "string"
                                            },
                                            "State": {
                                                "description": "State/County (Should be 2 letter state code for USA address)",
                                                "example": "West Sussex",
                                                "maxLength": 230,
                                                "type": "string"
                                            },
                                            "Title": {
                                                "example": "Mr",
                                                "maxLength": 10,
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "AddType",
                                            "Firstname",
                                            "Lastname",
                                            "Email",
                                            "Name",
                                            "Add1",
                                            "City",
                                            "CountryCode",
                                            "Phone"
                                        ],
                                        "type": "object"
                                    },
                                    "type": "array"
                                },
                                "Brand": {
                                    "description": "Single ILG Customer can have multiple brands that might require specific operational treatment",
                                    "example": "MyFirstBrand",
                                    "maxLength": 20,
                                    "type": "string"
                                },
                                "Carrier": {
                                    "description": "Specific Carrier; (usually blank)",
                                    "example": "UPS",
                                    "maxLength": 10,
                                    "type": "string"
                                },
                                "Cfields": {
                                    "items": {
                                        "properties": {
                                            "Field": {
                                                "description": "Custom Name of field",
                                                "example": "GIFT1",
                                                "maxLength": 10,
                                                "type": "string"
                                            },
                                            "FldType": {
                                                "description": "string, number or attachment",
                                                "enum": [
                                                    "STRING",
                                                    "NUM",
                                                    "BOOL",
                                                    "ATT"
                                                ],
                                                "example": "ATT",
                                                "maxLength": 10,
                                                "type": "string"
                                            },
                                            "FValue": {
                                                "description": "Data value - entered as string but validated as required by DataType",
                                                "example": "Happy Christmas Peter",
                                                "maxLength": 200,
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "type": "array"
                                },
                                "Channel": {
                                    "description": "Order Source from the ILG Customer's perspective (ShopEU,ShopUK,NetSuite)",
                                    "example": "ShopEU",
                                    "maxLength": 20,
                                    "type": "string"
                                },
                                "Class": {
                                    "description": "Class of Service Ecom,Wholesale,P,EVAS,WVAS,OTHER",
                                    "enum": [
                                        "ECOM",
                                        "WS",
                                        "EVAS",
                                        "WSVAS",
                                        "PR",
                                        "OTHER"
                                    ],
                                    "example": "ECOM",
                                    "maxLength": 10,
                                    "type": "string"
                                },
                                "CorrelationID": {
                                    "description": "INTERNAL FOR ILG USE DO NOT POPULATE",
                                    "example": "9ed2b057-342f-4838-860b-4ac37fddf007",
                                    "maxLength": 250,
                                    "type": "string"
                                },
                                "CreatedDate": {
                                    "description": "Order Creation Date (UTC Format)",
                                    "example": "2022-01-27T13:29:59Z",
                                    "type": "string"
                                },
                                "DDP": {
                                    "description": "Intl Deliveries only  Default 0 -duties paid local customs reponse, or 1 -Duty paid at point of booking (WHERE POSSIBLE)",
                                    "example": 1,
                                    "type": "number"
                                },
                                "DueOutDate": {
                                    "description": "Target Due out date",
                                    "example": "2022-01-28",
                                    "type": "string"
                                },
                                "EntityID": {
                                    "description": "ILG Use, Copy of field that uniquely identifies this record. E.g., OrderNumber",
                                    "example": "SO238812",
                                    "maxLength": 50,
                                    "type": "string"
                                },
                                "ExpDelDate": {
                                    "description": "Expected Delivery Date",
                                    "example": "2022-01-28",
                                    "type": "string"
                                },
                                "InsValue": {
                                    "description": "Insurance Value",
                                    "example": 1.24,
                                    "type": "number"
                                },
                                "LocationID": {
                                    "description": "ILG Warehouse ID",
                                    "example": "NORTHAMPTON",
                                    "maxLength": 15,
                                    "type": "string"
                                },
                                "Notes": {
                                    "description": "Optional order comment field,  Exception to normal order processing)",
                                    "example": "Special order to VIP",
                                    "maxLength": 250,
                                    "type": "string"
                                },
                                "oOrderLines": {
                                    "items": {
                                        "properties": {
                                            "AltLineID": {
                                                "description": "Alternate/Secondary line - Sometimes required for BTB or EDI orders",
                                                "example": 13,
                                                "type": "number"
                                            },
                                            "AltProductID": {
                                                "description": "Secondary Product ID (As reference)",
                                                "example": "JG668872",
                                                "maxLength": 30,
                                                "type": "string"
                                            },
                                            "Cfields": {
                                                "items": {
                                                    "properties": {
                                                        "Field": {
                                                            "description": "Custom Name of field",
                                                            "example": "GIFT1",
                                                            "maxLength": 10,
                                                            "type": "string"
                                                        },
                                                        "FldType": {
                                                            "description": "string, number or attachment",
                                                            "enum": [
                                                                "STRING",
                                                                "NUM",
                                                                "BOOL",
                                                                "ATT"
                                                            ],
                                                            "example": "ATT",
                                                            "maxLength": 10,
                                                            "type": "string"
                                                        },
                                                        "FValue": {
                                                            "description": "Data value - entered as string but validated as required by DataType",
                                                            "example": "Happy Christmas Peter",
                                                            "maxLength": 200,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "LineNumber": {
                                                "description": "Linenumber from Sales order, this is Usually unique for the customer and needs to be if later editing is required via API",
                                                "example": 1,
                                                "type": "number"
                                            },
                                            "OtherLineTotal": {
                                                "description": "Other Line Value (Qty x OtherUnit Price)",
                                                "example": 29.28,
                                                "type": "number"
                                            },
                                            "OtherUnitPrice": {
                                                "description": "For customs E.g. where sales price is 0 but customs declaration <>0 ",
                                                "example": 2.44,
                                                "type": "number"
                                            },
                                            "ProductID": {
                                                "description": "Product (SKU) must match Master data primary product in WMS",
                                                "example": "10056758",
                                                "maxLength": 30,
                                                "type": "string"
                                            },
                                            "Qty": {
                                                "description": "Quantity",
                                                "example": 12,
                                                "type": "number"
                                            },
                                            "SalesLineTotal": {
                                                "description": "Line Sales Value (Qty x SalesUnitPrice)",
                                                "example": 414.6,
                                                "type": "number"
                                            },
                                            "SalesUnitPrice": {
                                                "description": "Sales Line Unit Price (Multiplied by Qty to give SalesLinetotal - Values in SalesCurr)",
                                                "example": 34.55,
                                                "type": "number"
                                            },
                                            "UoM": {
                                                "description": "Mainly for wholesale could be Each, Inner, Outer, Pack",
                                                "enum": [
                                                    "EACH",
                                                    "INNER",
                                                    "OUTER"
                                                ],
                                                "example": "EACH",
                                                "maxLength": 5,
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "LineNumber",
                                            "ProductID",
                                            "UoM",
                                            "Qty",
                                            "SalesUnitPrice",
                                            "SalesLineTotal"
                                        ],
                                        "type": "object"
                                    },
                                    "type": "array"
                                },
                                "OrdNumber": {
                                    "description": "Primary customer ordernumber (should be unique from the customer's viewpoint) UPPER",
                                    "example": "SO238812",
                                    "maxLength": 20,
                                    "type": "string"
                                },
                                "OrdRef1": {
                                    "description": "Additional fixed customer order reference field",
                                    "example": "XD33093",
                                    "maxLength": 35,
                                    "type": "string"
                                },
                                "OrdRef2": {
                                    "description": "Additional fixed customer order reference field",
                                    "example": "AOS687668783",
                                    "maxLength": 35,
                                    "type": "string"
                                },
                                "OrdRef3": {
                                    "description": "Additional fixed customer order reference field",
                                    "example": "TEST",
                                    "maxLength": 35,
                                    "type": "string"
                                },
                                "OrdType": {
                                    "description": "Type of Order, E.g. SO (Sales order)  TO (Outbound Transfer Order)",
                                    "enum": [
                                        "SO",
                                        "TOO"
                                    ],
                                    "example": "SO",
                                    "maxLength": 5,
                                    "type": "string"
                                },
                                "OtherCurr": {
                                    "description": "Currency for Insurance and OTHER Values on the order (E.g., Customs Value) UPPER ISO",
                                    "example": "GBP",
                                    "maxLength": 3,
                                    "type": "string"
                                },
                                "OtherValue": {
                                    "description": "Order Value for Customs",
                                    "example": 1.24,
                                    "type": "number"
                                },
                                "Priority": {
                                    "description": "Priority of order - NORM (Default)",
                                    "enum": [
                                        "NORM",
                                        "URGNT",
                                        "HIGH"
                                    ],
                                    "example": "NORM",
                                    "maxLength": 10,
                                    "type": "string"
                                },
                                "ReqType": {
                                    "description": "Request Type - New or Update",
                                    "enum": [
                                        "NEW",
                                        "UPD"
                                    ],
                                    "example": "NEW",
                                    "maxLength": 5,
                                    "type": "string"
                                },
                                "RetailID": {
                                    "description": "Usually for BTB Customer to identify regular delivery customers that may require specific handling/Ops procedures (ECOM, ASOS)",
                                    "example": "ECOM",
                                    "maxLength": 15,
                                    "type": "string"
                                },
                                "SalesCurr": {
                                    "description": "Sales Currency UPPER ISO",
                                    "example": "GBP",
                                    "maxLength": 3,
                                    "type": "string"
                                },
                                "SalesValue": {
                                    "description": "Sales Value (usually the sum of SalesLineTotals from order lines)",
                                    "example": 1232.44,
                                    "type": "number"
                                },
                                "Service": {
                                    "description": "Shipping Service level Eg.   NextDay  Sameday, IntlExpress, IntlRoad",
                                    "enum": [
                                        "NextDay",
                                        "SameDay",
                                        "UK48",
                                        "IntExp",
                                        "IntStd"
                                    ],
                                    "example": "NextDay",
                                    "maxLength": 10,
                                    "type": "string"
                                },
                                "StockPool": {
                                    "description": "Customers WMS Stock Pool",
                                    "example": "CUST1",
                                    "maxLength": 15,
                                    "type": "string"
                                },
                                "Summary": {
                                    "description": "Summary order header info (E.g., Order level summary of goods for customs)",
                                    "example": "Ladies Outerwear",
                                    "maxLength": 200,
                                    "type": "string"
                                }
                            },
                            "required": [
                                "AccountID",
                                "Class",
                                "LocationID",
                                "StockPool",
                                "OrdType",
                                "ReqType",
                                "Service",
                                "RetailID",
                                "OrdNumber",
                                "OrdRef1",
                                "SalesCurr",
                                "Addresses"
                            ]
                        },
                        "type": "array"
                    }
                }
            },
            "goodsOut-conf": {
                "type": "object",
                "properties": {
                    "GOResp": {
                        "items": {
                            "properties": {
                                "AccountID": {
                                    "description": "ILG Customer Account",
                                    "example": "CUST1",
                                    "maxLength": 15,
                                    "type": "string"
                                },
                                "Brand": {
                                    "description": "Single ILG Customer can have multiple brands that might require specific operational treatment",
                                    "example": "MyFirstBrand",
                                    "maxLength": 20,
                                    "type": "string"
                                },
                                "Carrier": {
                                    "description": "Specific Carrier; (usually blank)",
                                    "example": "UPS",
                                    "maxLength": 10,
                                    "type": "string"
                                },
                                "Class": {
                                    "description": "Class of Service Ecom,Wholesale,P,EVAS,WVAS,OTHER",
                                    "enum": [
                                        "ECOM",
                                        "WS",
                                        "EVAS",
                                        "WSVAS",
                                        "PR",
                                        "OTHER"
                                    ],
                                    "example": "ECOM",
                                    "maxLength": 10,
                                    "type": "string"
                                },
                                "CorrelationID": {
                                    "description": "INTERNAL FOR ILG USE DO NOT POPULATE",
                                    "example": "9ed2b057-342f-4838-860b-4ac37fddf007",
                                    "maxLength": 250,
                                    "type": "string"
                                },
                                "CreatedDate": {
                                    "description": "Order Creation Date (UTC Format)",
                                    "example": "2022-01-27T13:29:59Z",
                                    "type": "string"
                                },
                                "DueOutDate": {
                                    "description": "Target Due out date",
                                    "example": "2022-01-28",
                                    "type": "string"
                                },
                                "EntityID": {
                                    "description": "ILG Use, Copy of field that uniquely identifies this record. E.g., OrderNumber",
                                    "example": "SO238812",
                                    "maxLength": 50,
                                    "type": "string"
                                },
                                "ExpDelDate": {
                                    "description": "Expected Delivery Date",
                                    "example": "2022-01-28",
                                    "type": "string"
                                },
                                "GORespLines": {
                                    "items": {
                                        "properties": {
                                            "LineNumber": {
                                                "description": "Linenumber from original outbound order",
                                                "example": 1,
                                                "type": "integer"
                                            },
                                            "PrdID": {
                                                "description": "Product (SKU) must match Master data primary product in WMS",
                                                "example": "GO2333",
                                                "maxLength": 15,
                                                "type": "string"
                                            },
                                            "Qty": {
                                                "description": "Quantity Shipped within listed Package",
                                                "example": 1,
                                                "type": "integer"
                                            },
                                            "EachQty": {
                                                "description": "Each Quantity Shipped within listed Package",
                                                "example": 40,
                                                "type": "integer"
                                            },
                                            "SSCC": {
                                                "description": "For Future use when linking Despatch line/Sku comb to Package",
                                                "example": "0338877133",
                                                "maxLength": 30,
                                                "type": "string"
                                            },
                                            "BatchID": {
                                                "description": "Batch of the fulfiled line",
                                                "example": "12121221",
                                                "maxLength": 30,
                                                "type": "string"
                                            },
                                            "DateExpiry": {
                                                "description": "Expiry date of product",
                                                "example": "2030-01-01T23:59:59",
                                                "maxLength": 20,
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "LineNumber",
                                            "PrdID",
                                            "Qty"
                                        ],
                                        "type": "object"
                                    },
                                    "type": "array"
                                },
                                "ILGRef": {
                                    "description": "Internal ILG Order Reference",
                                    "maxLength": 20,
                                    "type": "string"
                                },
                                "LocationID": {
                                    "description": "ILG Warehouse ID",
                                    "example": "NORTHAMPTON",
                                    "maxLength": 15,
                                    "type": "string"
                                },
                                "OrdNumber": {
                                    "description": "Primary customer ordernumber (should be unique from the customer's viewpoint) UPPER",
                                    "example": "SO238812",
                                    "maxLength": 20,
                                    "type": "string"
                                },
                                "OrdRef1": {
                                    "description": "Additional fixed customer order reference field",
                                    "example": "XD33093",
                                    "maxLength": 35,
                                    "type": "string"
                                },
                                "OrdRef2": {
                                    "description": "Additional fixed customer order reference field",
                                    "example": "AOS687668783",
                                    "maxLength": 35,
                                    "type": "string"
                                },
                                "OrdRef3": {
                                    "description": "Additional fixed customer order reference field",
                                    "example": "TEST",
                                    "maxLength": 35,
                                    "type": "string"
                                },
                                "OrdType": {
                                    "description": "Type of Order, E.g. SO (Sales order)  TO (Outbound Transfer Order)",
                                    "enum": [
                                        "SO",
                                        "TOO"
                                    ],
                                    "example": "SO",
                                    "maxLength": 5,
                                    "type": "string"
                                },
                                "Packages": {
                                    "items": {
                                        "properties": {
                                            "Depth": {
                                                "description": "Depth in cm",
                                                "example": 5.5,
                                                "type": "number"
                                            },
                                            "Height": {
                                                "description": "Height in cm",
                                                "example": 3.4,
                                                "type": "number"
                                            },
                                            "PackagingCode": {
                                                "description": "Code describing physical packagine,  L52,L60,OS4",
                                                "example": "L52",
                                                "maxLength": 5,
                                                "type": "string"
                                            },
                                            "Qty": {
                                                "description": "Total number of items within a consigment",
                                                "example": 343,
                                                "type": "integer"
                                            },
                                            "SSCC": {
                                                "description": "Unique Package ID",
                                                "example": "0338877133",
                                                "maxLength": 20,
                                                "type": "string"
                                            },
                                            "Weight": {
                                                "description": "NET Weight in Kg",
                                                "example": 11.3,
                                                "type": "number"
                                            },
                                            "Width": {
                                                "description": "Width in cm",
                                                "example": 4.5,
                                                "type": "number"
                                            }
                                        },
                                        "required": [
                                            "Depth",
                                            "Height",
                                            "SSCC",
                                            "Weight",
                                            "Width",
                                            "Qty"
                                        ],
                                        "type": "object"
                                    },
                                    "type": "array"
                                },
                                "Priority": {
                                    "description": "Priority of order - NORM (Default)",
                                    "enum": [
                                        "NORM",
                                        "URGNT",
                                        "HIGH"
                                    ],
                                    "example": "NORM",
                                    "maxLength": 10,
                                    "type": "string"
                                },
                                "ReqType": {
                                    "description": "Request Type - New or Update",
                                    "enum": [
                                        "NEW",
                                        "UPD"
                                    ],
                                    "example": "NEW",
                                    "maxLength": 5,
                                    "type": "string"
                                },
                                "RetailID": {
                                    "description": "Usually for BTB Customer to identify regular delivery customers that may require specific handling/Ops procedures (ECOM, ASOS)",
                                    "example": "ECOM",
                                    "maxLength": 15,
                                    "type": "string"
                                },
                                "Service": {
                                    "description": "Dispatched service (may NOT match original request)",
                                    "example": "RM58",
                                    "maxLength": 10,
                                    "type": "string"
                                },
                                "ShipDate": {
                                    "description": "Date Shipped",
                                    "type": "string"
                                },
                                "Stage": {
                                    "description": "Order Stage",
                                    "enum": [
                                        "DISP",
                                        "PICK",
                                        "PACK",
                                        "CANC"
                                    ],
                                    "maxLength": 5,
                                    "type": "string"
                                },
                                "StockPool": {
                                    "description": "Stock Pool",
                                    "enum": [
                                        "ECOM",
                                        "WS",
                                        "BULK"
                                    ],
                                    "example": "CUST1",
                                    "maxLength": 15,
                                    "type": "string"
                                },
                                "TotalWeight": {
                                    "description": "In KG 2 dp",
                                    "example": 12.44,
                                    "type": "number"
                                },
                                "TrackingNumber": {
                                    "description": "Carrier Tracking Number (ONLY Parent tracking number)",
                                    "maxLength": 50,
                                    "type": "string"
                                }
                            },
                            "required": [
                                "AccountID",
                                "StockPool",
                                "OrdType",
                                "ReqType",
                                "Class",
                                "Service",
                                "Brand",
                                "EntityID",
                                "ILGRef",
                                "LocationID",
                                "OrderNumber",
                                "OrdRef1"
                            ],
                            "type": "object"
                        },
                        "type": "array"
                    }
                }
            },
            "goodsIn-req": {
                "type": "object",
                "properties": {
                    "iOrders": {
                        "items": {
                            "required": [
                                "AccountID",
                                "LocationID",
                                "StockPool",
                                "OrdType",
                                "ReqType",
                                "Class",
                                "ExpDelDate",
                                "OrdNumber"
                            ],
                            "properties": {
                                "AccountID": {
                                    "description": "ILG Customer Account",
                                    "example": "CUST1",
                                    "maxLength": 15,
                                    "type": "string"
                                },
                                "Cfields": {
                                    "items": {
                                        "properties": {
                                            "Field": {
                                                "description": "Custom Name of field",
                                                "example": "GIFT1",
                                                "maxLength": 10,
                                                "type": "string"
                                            },
                                            "FldType": {
                                                "description": "string, number or attachment",
                                                "enum": [
                                                    "STRING",
                                                    "NUM",
                                                    "BOOL",
                                                    "ATT"
                                                ],
                                                "example": "ATT",
                                                "maxLength": 10,
                                                "type": "string"
                                            },
                                            "FValue": {
                                                "description": "Data value - entered as string but validated as required by DataType",
                                                "example": "Happy Christmas Peter",
                                                "maxLength": 200,
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "type": "array"
                                },
                                "Class": {
                                    "description": "Class of goodsin Service",
                                    "enum": [
                                        "STD",
                                        "EXP"
                                    ],
                                    "example": "ECOM",
                                    "maxLength": 10,
                                    "type": "string"
                                },
                                "CorrelationID": {
                                    "description": "INTERNAL FOR ILG USE DO NOT POPULATE",
                                    "example": "9ed2b057-342f-4838-860b-4ac37fddf007",
                                    "maxLength": 250,
                                    "type": "string"
                                },
                                "EntityID": {
                                    "description": "ILG Use, Copy of field that uniquely identifies this record. E.g., OrderNumber",
                                    "example": "PO238812",
                                    "maxLength": 50,
                                    "type": "string"
                                },
                                "ExpDelDate": {
                                    "description": "Expected Delivery Date (Used as default for all lines unless LineDelDate specified)",
                                    "example": "2022-01-28",
                                    "type": "string"
                                },
                                "iOrderLines": {
                                    "items": {
                                        "properties": {
                                            "AltLineID": {
                                                "description": "Alternate/Secondary line - Sometimes required for BTB or EDI orders",
                                                "example": 13,
                                                "type": "number"
                                            },
                                            "AltProductID": {
                                                "description": "Secondary Product ID (As reference)",
                                                "example": "JG668872",
                                                "maxLength": 30,
                                                "type": "string"
                                            },
                                            "BatchID": {
                                                "description": "Mostly not known at point of order, but may be used if pre-known batches due to arrive",
                                                "example": "BTE76F5F",
                                                "maxLength": 15,
                                                "type": "string"
                                            },
                                            "Cfields": {
                                                "items": {
                                                    "properties": {
                                                        "Field": {
                                                            "description": "Custom Name of field",
                                                            "example": "GIFT1",
                                                            "maxLength": 10,
                                                            "type": "string"
                                                        },
                                                        "FldType": {
                                                            "description": "string, number or attachment",
                                                            "enum": [
                                                                "STRING",
                                                                "NUM",
                                                                "BOOL",
                                                                "ATT"
                                                            ],
                                                            "example": "ATT",
                                                            "maxLength": 10,
                                                            "type": "string"
                                                        },
                                                        "FValue": {
                                                            "description": "Data value - entered as string but validated as required by DataType",
                                                            "example": "Happy Christmas Peter",
                                                            "maxLength": 200,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "LineNumber": {
                                                "description": "Linenumber from GoodsIns order, this is Usually unique for the customer and needs to be if later editing is required via API",
                                                "example": 1,
                                                "type": "number"
                                            },
                                            "LineDelDate": {
                                                "description": "IF PO, expected delivery dates at line level, if ASN, this is blank as date is set at header level",
                                                "example": "2022-02-11",
                                                "type": "string"
                                            },
                                            "PrdStatus": {
                                                "description": "Product status on receipt (Usually Good for new Stock)",
                                                "example": "GOOD",
                                                "maxLength": 5,
                                                "type": "string",
                                                "enum": [
                                                    "GOOD",
                                                    "QA"
                                                ]
                                            },
                                            "PrdLife": {
                                                "description": "Life Days, For products that have a shelf life. This ovverides the default in master data.  Missing or 0 to use masterdata default",
                                                "example": 45,
                                                "type": "number"
                                            },
                                            "ProductID": {
                                                "description": "Product (SKU) must match Master data primary product in WMS",
                                                "example": "10056758",
                                                "maxLength": 30,
                                                "type": "string"
                                            },
                                            "ProductionDate": {
                                                "description": "Used for products that have a shelf life to calculate expiry date",
                                                "example": "2022-02-11",
                                                "type": "string"
                                            },
                                            "Qty": {
                                                "description": "Quantity",
                                                "example": 12,
                                                "type": "number"
                                            },
                                            "UoM": {
                                                "description": "Usually Each, but could be Inner, Outer  (We will select Inners or outers as part of the warehouse process as appropriate)",
                                                "enum": [
                                                    "EACH",
                                                    "INNER",
                                                    "OUTER"
                                                ],
                                                "example": "EACH",
                                                "maxLength": 5,
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "LineNumber",
                                            "ProductID",
                                            "Qty"
                                        ],
                                        "type": "object"
                                    },
                                    "type": "array"
                                },
                                "LocationID": {
                                    "description": "ILG Warehouse ID",
                                    "example": "NORTHAMPTON",
                                    "maxLength": 15,
                                    "type": "string"
                                },
                                "Notes": {
                                    "description": "Optional order comment field,  Exception to normal order processing",
                                    "example": "Special order to VIP",
                                    "maxLength": 250,
                                    "type": "string"
                                },
                                "OrdNumber": {
                                    "description": "Ponumber or ASN number",
                                    "example": "PO238812",
                                    "maxLength": 20,
                                    "type": "string"
                                },
                                "OrdRef1": {
                                    "description": "Additional fixed customer order reference field",
                                    "example": "XD33093",
                                    "maxLength": 35,
                                    "type": "string"
                                },
                                "OrdRef2": {
                                    "description": "Additional fixed customer order reference field",
                                    "example": "AOS687668783",
                                    "maxLength": 35,
                                    "type": "string"
                                },
                                "OrdRef3": {
                                    "description": "Additional fixed customer order reference field",
                                    "example": "TEST",
                                    "maxLength": 35,
                                    "type": "string"
                                },
                                "OrdType": {
                                    "description": "ASN, PO can be split into multiple ASNs with separate expected dates ",
                                    "enum": [
                                        "PO",
                                        "TOI",
                                        "ASN"
                                    ],
                                    "example": "PO",
                                    "maxLength": 5,
                                    "type": "string"
                                },
                                "ReqType": {
                                    "description": "Request Type - New or Update",
                                    "enum": [
                                        "NEW",
                                        "UPD"
                                    ],
                                    "example": "NEW",
                                    "maxLength": 5,
                                    "type": "string"
                                },
                                "StockPool": {
                                    "description": "Customers Stock Pool",
                                    "example": "CUST1",
                                    "maxLength": 15,
                                    "type": "string"
                                }
                            }
                        },
                        "type": "array"
                    }
                }
            },
            "goodsIn-conf": {
                "type": "object",
                "properties": {
                    "GIResp": {
                        "items": {
                            "required": [
                                "AccountID",
                                "LocationID",
                                "StockPool",
                                "OrdType",
                                "ReqType",
                                "Class",
                                "ExpDelDate",
                                "OrdNumber"
                            ],
                            "properties": {
                                "AccountID": {
                                    "description": "ILG Customer Account",
                                    "example": "CUST1",
                                    "maxLength": 15,
                                    "type": "string"
                                },
                                "Cfields": {
                                    "items": {
                                        "properties": {
                                            "Field": {
                                                "description": "Custom Name of field",
                                                "example": "GIFT1",
                                                "maxLength": 10,
                                                "type": "string"
                                            },
                                            "FldType": {
                                                "description": "string, number or attachment",
                                                "enum": [
                                                    "STRING",
                                                    "NUM",
                                                    "BOOL",
                                                    "ATT"
                                                ],
                                                "example": "ATT",
                                                "maxLength": 10,
                                                "type": "string"
                                            },
                                            "FValue": {
                                                "description": "Data value - entered as string but validated as required by DataType",
                                                "example": "Happy Christmas Peter",
                                                "maxLength": 200,
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "type": "array"
                                },
                                "Class": {
                                    "description": "Class of goodsin Service",
                                    "enum": [
                                        "STD",
                                        "EXP"
                                    ],
                                    "example": "ECOM",
                                    "maxLength": 10,
                                    "type": "string"
                                },
                                "CorrelationID": {
                                    "description": "INTERNAL FOR ILG USE DO NOT POPULATE",
                                    "example": "9ed2b057-342f-4838-860b-4ac37fddf007",
                                    "maxLength": 250,
                                    "type": "string"
                                },
                                "EntityID": {
                                    "description": "ILG Use, Copy of field that uniquely identifies this record. E.g., OrderNumber",
                                    "example": "PO238812",
                                    "maxLength": 50,
                                    "type": "string"
                                },
                                "RecDate": {
                                    "description": "Received Date",
                                    "example": "2022-01-28",
                                    "type": "string"
                                },
                                "GIRespLines": {
                                    "items": {
                                        "properties": {
                                            "AltLineID": {
                                                "description": "Alternate/Secondary line - Sometimes required for BTB or EDI orders",
                                                "example": 13,
                                                "type": "number"
                                            },
                                            "AltProductID": {
                                                "description": "Secondary Product ID (As reference)",
                                                "example": "JG668872",
                                                "maxLength": 30,
                                                "type": "string"
                                            },
                                            "BatchID": {
                                                "description": "Mostly not known at point of order, but may be used if pre-known batches due to arrive",
                                                "example": "BTE76F5F",
                                                "maxLength": 15,
                                                "type": "string"
                                            },
                                            "Cfields": {
                                                "items": {
                                                    "properties": {
                                                        "Field": {
                                                            "description": "Custom Name of field",
                                                            "example": "GIFT1",
                                                            "maxLength": 10,
                                                            "type": "string"
                                                        },
                                                        "FldType": {
                                                            "description": "string, number or attachment",
                                                            "enum": [
                                                                "STRING",
                                                                "NUM",
                                                                "BOOL",
                                                                "ATT"
                                                            ],
                                                            "example": "ATT",
                                                            "maxLength": 10,
                                                            "type": "string"
                                                        },
                                                        "FValue": {
                                                            "description": "Data value - entered as string but validated as required by DataType",
                                                            "example": "Happy Christmas Peter",
                                                            "maxLength": 200,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "LineNumber": {
                                                "description": "Linenumber from GoodsIns order, this is Usually unique for the customer and needs to be if later editing is required via API",
                                                "example": 1,
                                                "type": "number"
                                            },
                                            "LineRecDate": {
                                                "description": "IF PO, Rec delivery dates at line level, if ASN, this is blank as date is set at header level",
                                                "example": "2022-02-11",
                                                "type": "string"
                                            },
                                            "PrdStatus": {
                                                "description": "Product status on receipt (Usually Good for new Stock)",
                                                "example": "GOOD",
                                                "maxLength": 5,
                                                "type": "string",
                                                "enum": [
                                                    "GOOD",
                                                    "QA"
                                                ]
                                            },
                                            "PrdLife": {
                                                "description": "Life Days, For products that have a shelf life. This ovverides the default in master data.  Missing or 0 to use masterdata default",
                                                "example": 45,
                                                "type": "number"
                                            },
                                            "ProductID": {
                                                "description": "Product (SKU) must match Master data primary product in WMS",
                                                "example": "10056758",
                                                "maxLength": 30,
                                                "type": "string"
                                            },
                                            "ProductionDate": {
                                                "description": "Used for products that have a shelf life to calculate expiry date",
                                                "example": "2022-02-11",
                                                "type": "string"
                                            },
                                            "EachQty": {
                                                "description": "Inbound EACH qty (differs from Qty if UoM<>EACH",
                                                "example": 12,
                                                "type": "number"
                                            },
                                            "Qty": {
                                                "description": "Quantity",
                                                "example": 12,
                                                "type": "number"
                                            },
                                            "UoM": {
                                                "description": "Usually Each, but could be Inner, Outer  (We will select Inners or outers as part of the warehouse process as appropriate)",
                                                "enum": [
                                                    "EACH",
                                                    "INNER",
                                                    "OUTER"
                                                ],
                                                "example": "EACH",
                                                "maxLength": 5,
                                                "type": "string"
                                            },
                                            "Reason": {
                                                "description": "Reason for return (translated to customer)",
                                                "example": "2022-02-11",
                                                "type": "string"
[...]
